:root {
  --gris: #bfbfbf;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  background: pink;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 30px 30px auto 100px 30px / 100px auto;
  grid-template-areas:
    "barra-titulo barra-titulo"
    "menu menu"
    "herramientas canvas"
    "barra-paleta barra-paleta"
    "barra-estado barra-estado";
  font-family: Arial, Helvetica, sans-serif;
}

.barra-titulo {
  background: #080677;
  color: #fff;
  grid-area: barra-titulo;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.titulo img {
  width: 18px;
}
.titulo span {
  padding-top: 5px;
  margin-left: 5px;
}
.botones-barra-titulo {
  display: flex;
}
.boton {
  background: var(--gris);
  color: #000;
  border-top: 2px #fff solid;
  border-left: 2px #fff solid;
  border-right: 2px #2c2a40 solid;
  border-bottom: 2px #2c2a40 solid;
  cursor: pointer;
}
.boton:hover {
  background: #adadad;
}
.boton-ventana {
  width: 20px;
  text-align: center;
  margin-left: 5px;
}

.menu {
  background: var(--gris);
  grid-area: menu;
  margin-left: 0;
  display: flex;
  align-items: center;
}
.menu ul {
  padding-left: 10px;
  list-style-type: none;
  display: flex;
}
.menu li {
  margin-right: 15px;
}
.primera-letra {
  text-decoration: underline;
}
#herramientas {
  background: var(--gris);
  grid-area: herramientas;
  display: grid;
  grid-template: repeat(8, 50px) / repeat(2, 50px);
  border-right: 2px solid #3b3b3b;
}
#herramientas .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.boton-activo {
  background: #dbe3de;
  border-top: 2px solid #2c2a40;
  border-left: 2px solid #2c2a40;
  border-right: 2px solid #fff;
  border-bottom: 2px #2c2a40 #fff;
}
.canvas {
  background: #fff;
  padding: 2px;
}
#canvas {
  width: 100%;
  height: 100%;
  background: #fff;
  grid-area: canvas;
}
.barra-paleta {
  background: var(--gris);
  padding-left: 20px;
  border-top: 2px solid #e8e8e8;
  grid-area: barra-paleta;
  display: flex;
  align-items: center;
}
.cuadro-colores-activos {
  width: 75px;
  height: 75px;
  margin: 10px;
  border-top: 3px solid #808880;
  border-left: 3px solid #808880;
  border-bottom: 3px solid #e6e5e5;
  border-right: 3px solid #e6e5e5;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#color-actual-linea,
#color-actual-relleno {
  width: 25px;
  height: 25px;
  margin: 1px;
  border-top: 3px solid #808880;
  border-left: 3px solid #808880;
  border-bottom: 3px solid #ebeaea;
  border-right: 3px solid #ebeaea;
  cursor: pointer;
}
#color-actual-linea {
  background: #000;
}
#color-actual-relleno {
  background: #fff;
}

#paleta {
  display: grid;
  grid-template: repeat(2, 40px) / repeat(14, 40px);
  gap: 2px;
}
#paleta div {
  border-top: 3px solid #808880;
  border-left: 3px solid #808880;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  cursor: pointer;
}

.barra-estado {
  background: var(--gris);
  grid-area: barra-estado;
  display: grid;
  grid-template: 1fr / 2fr 1fr 1fr;
}
.barra-estado div {
  border-top: 3px solid #9f9f9f;
  border-right: 3px solid #d7d7d7;
  border-bottom: 3px solid #dadad5;
  border-left: 3px solid #959595;
  display: flex;
  align-items: flex-end;
}
